<% unless current_user.is_a? GuestUser %>
  <%= form_for [@ask, @answer], remote:true, :html=> {role: "form"} do |f| %>
    <div class="form-group">
     <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <%= f.submit 'Post Answer', class: 'btn btn-primary' %>
  <% end %>
<% end %>