// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#background{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('images.jpeg') no-repeat;
  background-size: cover;
 } 
 .container {
   width:338px;

 }

 .text{
 	border: 3px solid white;
	font: bold 30pt serif;
	color: white;
	margin: auto;
	width: 40%;
	height: 180px;
	margin-top: 70px;
	margin-bottom: 201px;
	padding: 2%;

 }