// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .container {
   width:338px;

 }


 .text{
 	border: 1px solid black;
	color: white;
	margin: auto;
	height: 180px;
	margin-top: 70px;
	margin-bottom: 201px;
	
 }
 .text1{
 	width: 100%;
 	height: 100%;
 	padding: 0;
 	border: 4px solid white;
 	padding: 5%;
 	text-align: justify;
 	-webkit-text-stroke: 0.015em black;
}
 	

 

@media(max-width: 400px){
	.text{
		font: bold 15pt serif;
		width:50%;
	}
	.text1{
		padding-top: 19%;
	}
}
@media(max-width: 720px) and (min-width: 400px){
	.text{
		font: bold 20pt serif;
		width: 50%
	}
	.text1{
		padding-top:15%;
	}
}
@media(min-width: 720px) and (max-width: 1000px) {
	.text{
		font: bold 20pt serif;
	}
	.text1{
		padding-top: 14%;
	}
}
@media(min-width: 1200px){
	.text{
		font: bold 31pt serif;
		width: 41%;
	}
	.text1{
		padding-top: 8%;
	}
}